@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center-content container-fluid">
    <div class="row">
        <div class="text-center col">
            <h1 class="border-orange inline-block">Mon panier</h1><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div role="alert" class="fade alert alert-info show">Le panier est vide.</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-bold">Produit</th>
                            <th class="text-bold">Quantité</th>
                            <th class="text-bold">Prix</th>
                            <th class="text-bold" style="width: 100px;"></th>
                        </tr>
                    </thead>
                    <tbody id="basket-body">
                    </tbody>
                </table>
            </div>
            <p class="text-italic">
                <i class="fas fa-truck"></i>&nbsp; <b>Paiement à la livraison.</b>
                <br><br>
                <b>Note:</b> Le panier sera réinitialisé aprés le passage de la commande.
            </p>
            <div class="text-right">
                <button type="button" class="btn btn-outline-primary">Passer la commande</button>
            </div>
        </div>
    </div>
</div>

<br />
@section Scripts {
    <script>
        $(function () {
            $("#header").addClass("header-black-bg");

            var basketItem = localStorage.getItem("basket") !== null
                ? JSON.parse(localStorage.getItem("basket"))
                : [];

            var basketTable = "";
            var totalAmount = 0;
            for (var i = 0; i < basketItem.length; i++) {
                basketTable += "<tr>";
                basketTable += "<td><a href='/product/" + basketItem[i].Id + "'>" + basketItem[i].Product + " " + basketItem[i].Option + " (" + basketItem[i].Unity + ")</a></td>";
                basketTable += "<td>" + basketItem[i].Quantity + "</td>";
                basketTable += "<td>" + basketItem[i].TotalPrice + " TND</td>";
                basketTable += "<td><i class='fas fa-trash-alt'></i></td>";
                basketTable += "</tr>";
                totalAmount += parseFloat(basketItem[i].TotalPrice);
            }
            basketTable += "<tr>";
            basketTable += "<td colspan='2' class='text-right text-bold'>Total</td>";
            basketTable += "<td class='text-bold'>" + totalAmount + " TND</td>";
            basketTable += "</tr>";

            $("#basket-body").html(basketTable);
        });
    </script>
}