<div id="home" class="parallax-section" data-image-src="/Content/images/bg/img-bg1.jpg">
    <div style="height: 500px">
        <div id="home-section">
            <h1 class="border-orange text-center">
                <i>Light Bakes</i>
            </h1>
            <span class="text-center text-thin">
                Stay healthy, stay fit
            </span>
        </div>
    </div>
    <div id="menu"></div>
</div>

<br />
<br />
<br />

@{Html.RenderAction("_MenuPartial"); }

@section Scripts {
    <!-- home.js -->
    <script src="~/Scripts/home.min.js"></script>
}
