<div id="home" class="parallax-section" data-image-src="/Content/images/bg/img-bg1.jpg">
    <div style="height: 500px">
        <div id="home-section">
            <h1 class="border-orange text-center">
                <i>Light Bakes</i>
            </h1>
            <span class="text-center text-thin">
                Stay healthy, stay fit
            </span>
        </div>
    </div>
    <div id="menu"></div>
</div>

<br />
<br />
<br />

@{Html.RenderAction("_MenuPartial"); }

@section Scripts {    
    <script>
        $(function () {
            function scrollHandler() {
                if (window.scrollY >= window.innerHeight - 40) $("#header").addClass("header-black-bg");
                else $("#header").removeClass("header-black-bg");
            }
            window.addEventListener("scroll", scrollHandler);
        })
    </script>
}
