<div class="center-content container-fluid">
    <div class="row">
        <div class="text-center col">
            <h1 class="border-orange inline-block">Menu</h1><br>
        </div>
    </div>
</div>
<br />
@{Html.RenderAction("_MenuPartial"); }


@section Scripts {
    <script>
        $(function () {
            $("#header").addClass("header-black-bg");
        });
    </script>
}